body {
  margin: 0;
  font-family: "Lucida Grande";
}

a {
  text-decoration: none;
}

li{
  list-style: none;
}

.container {
  width: 1170px;
  padding: 0 15px;
  margin: 0 auto;
}

.top-wrapper {
  padding: 180px 0 100px 0;
  background-image: url(https://prog-8.com/images/html/advanced/top_en.png);
  background-size: cover;
  color: white;
  text-align: center;
}

.top-wrapper h1 {
  opacity: 0.7;
  font-size: 45px;
  letter-spacing: 5px;
  margin-bottom: 10px;
}

.top-wrapper p {
  opacity: 0.7;
  margin-bottom: 3px;
}

.btn-wrapper {
  margin: 20px 0;
}

.btn-wrapper p {
  margin: 10px 0;
}

.signup {
  background-color: #239b76;
}

.facebook {
  background-color: #3b5998;
  margin-right: 10px;
}

.twitter {
  background-color: #55acee;
}

.btn {
  padding: 12px 24px;
  color: white;
  display: inline-block;
  opacity: 0.8;
  border-radius: 4px;
}

.btn:hover {
  opacity: 1;
}

.fa {
  margin-right: 5px;
}

header {
  height: 65px;
  width: 100%;
  font-size: 50px;
  background-color: rgba(34, 49, 52, 0.9);
  /* Ubah position ke fixed, dan top ke 0 */
  position:fixed;
  top:0;
  /* Ubah z-index ke 10 */
  z-index:10;
}

.logo {
  width: 80px;
  margin-top: 20px;
  border-radius: 5px 20px;
}

a.login:hover{
  color: red;
  -webkit-animation: blink .75s linear infinite;
  -moz-animation: blink .75s linear infinite;
  -ms-animation: blink .75s linear infinite;
  -o-animation: blink .75s linear infinite;
  animation: blink .75s linear infinite;
}

@-webkit-keyframes blink { 
  0% {opacity: 1;}
  50%{opacity:1;}
  100%{opacity:0;}
}
@-moz-keyframes blink { 
  0% {opacity: 1;}
  50%{opacity:1;}
  100%{opacity:0;}
}
@keyframes blink { 
  0% {opacity: 1;}
  50%{opacity:1;}
  100%{opacity:0;}
}

a.login{
  -webkit-animation: none;
  -moz-animation: none;
  animation: none;
  color: white;
}

.header-left {
  float: left;
  padding: 20px 40px;
}

.header-right {
  float: right;
  background-color: rgba(255, 255, 255, 0.3);
  transition: all 0.8s;
}

.header-right:hover {
  background-color: rgba(255, 255, 255, 0.5);
}

.header-right a {
  line-height: 65px;
  padding: 0 25px;
  font-size: 30px;
  color: white;
  display: block;
}

.lesson-wrapper {
  height: 500px;
  padding-bottom: 80px;
  background-color: #f7f7f7;
  text-align: center;
}

.foto{
  width: 200px;
  height: 200px;
  border-radius: 5px 20px;
}

.foto01{
  width: 160px;
  height: 200px;
  border-radius: 5px 20px;
}

.heading {
  padding-top: 60px;
  padding-bottom: 30px;
  color: #5f5d60;
}

.heading h2 {
  font-weight: normal;
}

.lesson {
  float: left;
  width: 25%;
}

.lesson-icon {
  position: relative;
}

.nama {
  /* position: absolute; */
  margin: auto;
  top: 150px;
  width: 60%;
  color: white;
  background-color: #1a7940;
  border-radius: 9px;
}

.txt-contents {
  width: 80%;
  display: inline-block;
  margin-top: 20px;
  font-size: 15px;
  color: grey;
  font-style: italic;
}

.heading h3 {
  font-weight: normal;
}

.heading span{
  color: #1a7940;
  font-weight: bold;
}

.message-wrapper {
  border-bottom: 1px solid #eee;
  padding-bottom: 80px;
  text-align: center;
}

.message {
  padding: 15px 40px;
  background-color: #f0ab5d;
  cursor: pointer;
  box-shadow: 0 7px #7d4709;
}

.message:active {
  position: relative;
  top: 7px;
  box-shadow: none;
}

footer img {
  width: 50px;
}

footer p {
  color: grey;
  font-size: 12px;
}

footer {
  padding-top: 20px;
  background-color: navy;
  opacity: 0.8;
  position: absolute;
  width: 100%;
  height: 70px;
}

.container-bottom{
  width: 50px;
  height: 50px;
  border-radius: 5px 10px;
  z-index: 10;
  float: left;
}

footer .message-footer{
  position: absolute;
  left: 200px;
}

.container-right{
  list-style: none;
  position: absolute;
  float: left;
  right: 160px;
  top: 10px;
  color: #5dca88;
  padding-top: 20px;
}

.container-right li{
  float: left;
  padding-left: 10px;
}
